.contextMenuButton {
	display: block;
	background-color: var(--color-text-inverse);
	width: 100%;

	color: var(--color-text);
	font-family: var(--font-family-base);
	font-size: 0.8rem;
	padding: 12px;
	text-align: left;

	cursor: pointer;
	user-select: none;
	transition: background-color var(--transition-base);
	border-width: 0px;
}

.contextMenuButton:hover {
	background-color: var(--color-bg-active);
}
