.inlineButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.inlineButton {
	width: 100%;
	background-color: var(--color-text-inverse);

	color: var(--color-text);
	font-family: var(--font-family-base);
	font-size: 0.8rem;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;

	cursor: pointer;
	user-select: none;
	transition: background-color var(--transition-fast);
	border-width: 0px;
}

.inlineButton:hover {
	background-color: var(--color-bg-active);
}
