.radioButton {
	display: inline-block;
	padding: 12px;
	background-color: var(--color-text-inverse);
	width: 100%;

	color: var(--color-text);
	font-family: var(--font-family-base);
	font-size: 0.9rem;
	text-align: center;

	cursor: pointer;
	transition: background-color var(--transition-fast);
	user-select: none;
}

@media (max-width: 768px) {
	.radioButton {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {
	.radioButton {
		font-size: 0.8rem;
	}
}

.radioButton:hover {
	background-color: var(--color-bg-selected);
}

.radioButton input {
	display: none;
}

.radioButton:has(input:checked) {
	background-color: var(--color-bg-strong);
}
