.popupContainer {
	position: relative;
	display: inline-block;
}

.popupContent {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-text-inverse);
	z-index: var(--z-dropdown);
	overflow: auto;
	border: 1px solid var(--color-border-strong);
	border-radius: var(--radius-md);
	white-space: nowrap;
}
